.alert{
    border: 2px solid #f00;
    padding: 20px;
    position: relative;
    display: flex;
    padding-left: 120px;
}

.alert .btn-close{
    position: absolute;
    width: 100px;
    height: 100%;
    left: 0;
    top: 0;
}